In [30]:
import requests, json
import pandas as pd
pd.set_option('display.max_columns', 100)

# Dark Sky API

In [61]:
%time
time = '1468065600'
lat = '28.3921'
lon = '-81.5059'
url = 'https://api.darksky.net/forecast/81a711a0c302582ca82949f863d0ac00/{0},{1},{2}?exclude=currently,hourly'.format(lat, lon, time)

response = requests.get(url)
print(response.ok, '\n', response.url)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 11.7 Âµs
True
 https://api.darksky.net/forecast/81a711a0c302582ca82949f863d0ac00/28.3921,-81.5059,1468065600?exclude=currently,hourly

In [33]:
jData = response.json()
print('The response contains {} root properties'.format(len(jData)))

The response contains 6 root properties

In [34]:
jData.keys()

dict_keys(['latitude', 'timezone', 'flags', 'longitude', 'daily', 'offset'])

In [35]:
jData['daily']

{'data': [{'apparentTemperatureHigh': 102.46,
   'apparentTemperatureHighTime': 1468087200,
   'apparentTemperatureLow': 78.49,
   'apparentTemperatureLowTime': 1468144800,
   'apparentTemperatureMax': 102.46,
   'apparentTemperatureMaxTime': 1468087200,
   'apparentTemperatureMin': 81.59,
   'apparentTemperatureMinTime': 1468058400,
   'cloudCover': 0.17,
   'dewPoint': 73.94,
   'humidity': 0.71,
   'icon': 'clear-day',
   'moonPhase': 0.18,
   'precipIntensity': 0.0007,
   'precipIntensityMax': 0.0064,
   'precipIntensityMaxTime': 1468101600,
   'precipProbability': 0.25,
   'precipType': 'rain',
   'pressure': 1018.31,
   'summary': 'Clear throughout the day.',
   'sunriseTime': 1468060622,
   'sunsetTime': 1468110467,
   'temperatureHigh': 93.85,
   'temperatureHighTime': 1468087200,
   'temperatureLow': 76.88,
   'temperatureLowTime': 1468148400,
   'temperatureMax': 93.85,
   'temperatureMaxTime': 1468087200,
   'temperatureMin': 78.46,
   'temperatureMinTime': 1468058400,
   'time': 1468036800,
   'uvIndex': 11,
   'uvIndexTime': 1468087200,
   'visibility': 9.87,
   'windBearing': 263,
   'windSpeed': 3.06}]}

In [36]:
darksky = pd.DataFrame(jData['daily']['data'])
darksky.head()

,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,cloudCover,dewPoint,humidity,icon,moonPhase,precipIntensity,precipIntensityMax,precipIntensityMaxTime,precipProbability,precipType,pressure,summary,sunriseTime,sunsetTime,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,time,uvIndex,uvIndexTime,visibility,windBearing,windSpeed
0,102.46,1468087200,78.49,1468144800,102.46,1468087200,81.59,1468058400,0.17,73.94,0.71,clear-day,0.18,0.0007,0.0064,1468101600,0.25,rain,1018.31,Clear throughout the day.,1468060622,1468110467,93.85,1468087200,76.88,1468148400,93.85,1468087200,78.46,1468058400,1468036800,11,1468087200,9.87,263,3.06

# NOAA API

In [42]:
sampurl = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:28801&startdate=2010-05-01&enddate=2010-05-01'
sampurl

'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:28801&startdate=2010-05-01&enddate=2010-05-01'

# Attempt to pull NOAA data for the same location and time of the pull above

In [62]:
%%time
token = 'UJruixMvHLwxmFABkZfPIOohFXccZgCs'
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
noaaDid = 'GHCND'
zipcode = '32836'#'28801'
city = 'Orlando'
dateStart = '2016-07-09'
dateEnd = '2016-07-09'

params = '?datasetid={0}&locationid=ZIP:{1}&startdate={2}&enddate={3}'.format(noaaDid, zipcode, dateStart, dateEnd)
url = url + params

response = requests.get(url, headers=dict(token=token))
print(response.ok, '\n', response.url)

True
 https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:32836&startdate=2016-07-09&enddate=2016-07-09
CPU times: user 31.2 ms, sys: 15.6 ms, total: 46.9 ms
Wall time: 452 ms

## But *Many* zipcodes are not represented in the data
* The API ping was successful but returned no data, see the next two cells

## Other Location call options

In [69]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories', headers=dict(token=token))
r.json()

{'metadata': {'resultset': {'count': 12, 'limit': 25, 'offset': 1}},
 'results': [{'id': 'CITY', 'name': 'City'},
  {'id': 'CLIM_DIV', 'name': 'Climate Division'},
  {'id': 'CLIM_REG', 'name': 'Climate Region'},
  {'id': 'CNTRY', 'name': 'Country'},
  {'id': 'CNTY', 'name': 'County'},
  {'id': 'HYD_ACC', 'name': 'Hydrologic Accounting Unit'},
  {'id': 'HYD_CAT', 'name': 'Hydrologic Cataloging Unit'},
  {'id': 'HYD_REG', 'name': 'Hydrologic Region'},
  {'id': 'HYD_SUB', 'name': 'Hydrologic Subregion'},
  {'id': 'ST', 'name': 'State'},
  {'id': 'US_TERR', 'name': 'US Territory'},
  {'id': 'ZIP', 'name': 'Zip Code'}]}

## Try with CITY name

In [66]:
%%time
token = 'UJruixMvHLwxmFABkZfPIOohFXccZgCs'
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
noaaDid = 'GHCND'
city = 'Orlando'
dateStart = '2016-07-09'
dateEnd = '2016-07-09'

params = '?datasetid={0}&locationid=CITY:{1}&startdate={2}&enddate={3}'.format(noaaDid, city, dateStart, dateEnd)
url = url + params

response = requests.get(url, headers=dict(token=token))
print(response.ok, '\n', response.url)

True
 https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=CITY:Orlando&startdate=2016-07-09&enddate=2016-07-09
CPU times: user 31.2 ms, sys: 62.5 ms, total: 93.8 ms
Wall time: 318 ms

In [67]:
jData = response.json()
print('The response contains {} root properties'.format(len(jData)))

The response contains 0 root properties

In [68]:
jData.keys()

dict_keys([])

## Also, returns no data
* After further exploring, I believe city requires an ID# that would also have to be pinged to find for each

## Successful Example

In [122]:
%%time
token = 'UJruixMvHLwxmFABkZfPIOohFXccZgCs'
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
noaaDid = 'GHCND'
zipcode = '28801'
dateStart = '2016-07-09'
dateEnd = '2016-07-09'

params = '?datasetid={0}&locationid=ZIP:{1}&startdate={2}&enddate={3}'.format(noaaDid, zipcode, dateStart, dateEnd)
url = url + params

response = requests.get(url, headers=dict(token=token))
print(response.ok, '\n', response.url)

True
 https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:28801&startdate=2016-07-09&enddate=2016-07-09
CPU times: user 15.6 ms, sys: 31.2 ms, total: 46.9 ms
Wall time: 421 ms

## Data pulls are far slower on NOAA

In [123]:
jData = response.json()
print('The response contains {} root properties'.format(len(jData)))

The response contains 2 root properties

In [124]:
jData.keys()

dict_keys(['results', 'metadata'])

In [125]:
jData['results']

[{'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0005',
  'value': 28},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0051',
  'value': 23},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNWD',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'WESD',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'WESF',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1NCBC0110',
  'value': 23},
 {'attributes': ',,7,',
  'datatype': 'AWND',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 4},
 {'attributes': ',,7,2400',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 0},
 {'attributes': ',,7,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 0},
 {'attributes': ',,7,',
  'datatype': 'SNWD',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 0},
 {'attributes': ',,7,2400',
  'datatype': 'TMAX',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 306},
 {'attributes': ',,7,2400',
  'datatype': 'TMIN',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 183},
 {'attributes': ',,7,2400',
  'datatype': 'TOBS',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 233},
 {'attributes': ',,7,',
  'datatype': 'WSFG',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:USW00013872',
  'value': 80}]

In [126]:
from pandas.io.json import json_normalize
noaa = json_normalize(jData['results'])
noaa.pivot(index='station', columns='datatype', values='value')

datatype,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF,WSFG
station,,,,,,,,,,
GHCND:US1NCBC0005,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GHCND:US1NCBC0051,NaN,23.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN
GHCND:US1NCBC0110,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GHCND:USW00013872,4.0,0.0,0.0,0.0,306.0,183.0,233.0,NaN,NaN,80.0

## Available weather variables varies by location

## Florida station data

In [ ]:
%%time
token = 'UJruixMvHLwxmFABkZfPIOohFXccZgCs'
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
noaaDid = 'GHCND'
fipState_code = '12' # FLORIDA
dateStart = '2016-07-09'
dateEnd = '2016-07-09'

params = '?datasetid={0}&locationid=FIPS:{1}&startdate={2}&enddate={3}'.format(noaaDid, fipState_code, dateStart, dateEnd)
url = url + params

response = requests.get(url, headers=dict(token=token))
print(response.ok, '\n', response.url)

In [114]:
jData = response.json()
print('The response contains {} root properties'.format(len(jData)))

The response contains 2 root properties

In [115]:
jData.keys()

dict_keys(['results', 'metadata'])

In [116]:
jData['results']

[{'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0002',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0002',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0004',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0007',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0007',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0010',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0017',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0017',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0018',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0018',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0026',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0026',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0029',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0029',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0043',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0043',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0048',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0048',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0050',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0051',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0055',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'SNOW',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0055',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLAL0056',
  'value': 0},
 {'attributes': ',,N,',
  'datatype': 'PRCP',
  'date': '2016-07-09T00:00:00',
  'station': 'GHCND:US1FLBF0002',
  'value': 0}]

In [117]:
from pandas.io.json import json_normalize
noaa = json_normalize(jData['results'])
noaa.pivot(index='station', columns='datatype', values='value')

datatype           PRCP  SNOW
station
GHCND:US1FLAL0002   0.0   0.0
GHCND:US1FLAL0004   0.0   NaN
GHCND:US1FLAL0007   0.0   0.0
GHCND:US1FLAL0010   0.0   NaN
GHCND:US1FLAL0017   0.0   0.0
GHCND:US1FLAL0018   0.0   0.0
GHCND:US1FLAL0026   0.0   0.0
GHCND:US1FLAL0029   0.0   0.0
GHCND:US1FLAL0043   0.0   0.0
GHCND:US1FLAL0048   0.0   0.0
GHCND:US1FLAL0050   0.0   NaN
GHCND:US1FLAL0051   0.0   0.0
GHCND:US1FLAL0055   0.0   0.0
GHCND:US1FLAL0056   0.0   NaN
GHCND:US1FLBF0002   0.0   NaN

## NOAA provides fewer variables and less flexibility
## Also, each attribute is stored in a nested dictionary within another dictionary
* Thus, collating the data will take more processing time

## Available Locations

In [94]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/locations/FIPS:12', headers=dict(token=token))
fl_json = r.json()
r.ok

True

In [96]:
print(fl_json.keys())
json_normalize(fl_json)

dict_keys(['id', 'mindate', 'name', 'datacoverage', 'maxdate'])

   datacoverage       id     maxdate     mindate     name
0             1  FIPS:12  2017-08-29  1871-10-01  Florida

In [ ]:
noaa_locations = json_normalize(loc_json['results'])
noaa_locations

## US State IDs

In [91]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?locationcategoryid=ST&limit=52', headers=dict(token=token))
loc_json = r.json()
r.ok

True

In [92]:
noaa_locations = json_normalize(loc_json['results'])
noaa_locations

    datacoverage       id     maxdate     mindate                  name
0              1  FIPS:01  2017-08-29  1888-02-01               Alabama
1              1  FIPS:02  2017-08-29  1893-09-01                Alaska
2              1  FIPS:04  2017-08-29  1867-08-01               Arizona
3              1  FIPS:05  2017-08-29  1872-02-01              Arkansas
4              1  FIPS:06  2017-08-29  1850-10-01            California
5              1  FIPS:08  2017-08-29  1852-10-01              Colorado
6              1  FIPS:09  2017-08-29  1884-11-01           Connecticut
7              1  FIPS:10  2017-08-29  1893-01-01              Delaware
8              1  FIPS:11  2017-08-29  1872-01-01  District of Columbia
9              1  FIPS:12  2017-08-29  1871-10-01               Florida
10             1  FIPS:13  2017-08-29  1849-01-01               Georgia
11             1  FIPS:15  2017-08-29  1905-01-01                Hawaii
12             1  FIPS:16  2017-08-29  1892-06-01                 Idaho
13             1  FIPS:17  2017-08-29  1870-10-15              Illinois
14             1  FIPS:18  2017-08-29  1886-02-01               Indiana
15             1  FIPS:19  2017-08-29  1888-06-01                  Iowa
16             1  FIPS:20  2017-08-29  1857-04-01                Kansas
17             1  FIPS:21  2017-08-29  1872-10-01              Kentucky
18             1  FIPS:22  2017-08-29  1882-07-01             Louisiana
19             1  FIPS:23  2017-08-29  1885-06-01                 Maine
20             1  FIPS:24  2017-08-29  1880-01-01              Maryland
21             1  FIPS:25  2017-08-29  1831-02-01         Massachusetts
22             1  FIPS:26  2017-08-29  1887-06-01              Michigan
23             1  FIPS:27  2017-08-29  1886-01-01             Minnesota
24             1  FIPS:28  2017-08-29  1891-02-01           Mississippi
25             1  FIPS:29  2017-08-29  1892-04-01              Missouri
26             1  FIPS:30  2017-08-29  1891-08-01               Montana
27             1  FIPS:31  2017-08-29  1878-05-01              Nebraska
28             1  FIPS:32  2017-08-29  1877-07-01                Nevada
29             1  FIPS:33  2017-08-29  1868-01-01         New Hampshire
30             1  FIPS:34  2017-08-29  1865-06-01            New Jersey
31             1  FIPS:35  2017-08-29  1870-01-01            New Mexico
32             1  FIPS:36  2017-08-29  1869-01-01              New York
33             1  FIPS:37  2017-08-29  1869-03-01        North Carolina
34             1  FIPS:38  2017-08-29  1891-07-01          North Dakota
35             1  FIPS:39  2017-08-29  1878-02-01                  Ohio
36             1  FIPS:40  2017-08-29  1870-04-01              Oklahoma
37             1  FIPS:41  2017-08-29  1871-11-01                Oregon
38             1  FIPS:42  2017-08-29  1849-04-01          Pennsylvania
39             1  FIPS:44  2017-08-29  1893-01-01          Rhode Island
40             1  FIPS:45  2017-08-29  1849-05-01        South Carolina
41             1  FIPS:46  2017-08-29  1893-01-01          South Dakota
42             1  FIPS:47  2017-08-29  1879-01-01             Tennessee
43             1  FIPS:48  2017-08-29  1852-04-01                 Texas
44             1  FIPS:49  2017-08-29  1887-12-01                  Utah
45             1  FIPS:50  2017-08-29  1883-12-01               Vermont
46             1  FIPS:51  2017-08-29  1869-01-01              Virginia
47             1  FIPS:53  2017-08-29  1856-01-01            Washington
48             1  FIPS:54  2017-08-29  1854-01-01         West Virginia
49             1  FIPS:55  2017-08-29  1871-01-01             Wisconsin
50             1  FIPS:56  2017-08-29  1889-01-01               Wyoming

## Get all stations in Florida

In [103]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/stations?locationid=FIPS:12&limit=1000', headers=dict(token=token))
fl_stationsj = r.json()
r.ok

True

In [104]:
fl_stations = json_normalize(fl_stationsj['results'])
fl_stations

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,0.9989,NaN,NaN,COOP:080025,29.88333,-83.63333,1957-12-01,1956-08-01,"ADAMS BEACH, FL US"
1,0.8063,21.0,METERS,COOP:080070,29.05000,-81.55000,1980-06-01,1956-06-01,"ALEXANDER SPRINGS 3, FL US"
2,0.9698,6.1,METERS,COOP:080211,29.72580,-85.02050,2011-12-01,1942-01-01,"APALACHICOLA AIRPORT, FL US"
3,0.9794,9.1,METERS,COOP:080228,27.21800,-81.87380,2015-11-01,1931-01-01,"ARCADIA, FL US"
4,1.0000,42.7,METERS,COOP:080236,27.18190,-81.35080,2015-11-01,1969-01-01,"ARCHBOLD BIO STATION, FL US"
5,0.9687,46.9,METERS,COOP:080369,27.59470,-81.52660,2015-11-01,1931-01-01,"AVON PARK 2 W, FL US"
6,0.9783,46.0,METERS,COOP:080374,27.60000,-81.50000,1952-07-26,1948-01-01,"AVON PARK 1 NW, FL US"
7,0.9887,38.1,METERS,COOP:080390,27.85000,-81.51667,1992-07-01,1955-09-01,"BABSON PARK 1 ENE, FL US"
8,1.0000,0.9,METERS,COOP:080414,24.65890,-81.27600,2015-11-01,2004-10-01,"BAHIA HONDA STATE PARK, FL US"
9,0.9885,33.8,METERS,COOP:080478,27.88630,-81.83260,2015-11-01,1893-01-01,"BARTOW 1 SE, FL US"
10,0.9986,11.9,METERS,COOP:080488,27.38333,-81.03333,1964-12-01,1962-10-01,"BASINGER, FL US"
11,0.9289,14.9,METERS,COOP:080520,28.06667,-82.50000,1966-12-01,1947-02-01,"BAY LAKE, FL US"
12,0.9393,14.9,METERS,COOP:080535,28.55000,-82.63333,1968-12-01,1958-01-01,"BAYPORT, FL US"
13,0.9990,14.9,METERS,COOP:080540,28.55000,-82.63333,1957-12-01,1956-10-01,"BAYPORT, FL US"
14,0.9841,9.1,METERS,COOP:080598,29.79556,-82.91778,2015-11-01,2000-03-01,"BELL 4 NW, FL US"
15,0.9644,6.1,METERS,COOP:080611,26.69278,-80.67111,2005-10-01,1931-01-01,"BELLE GLADE, FL US"
16,0.9761,9.4,METERS,COOP:080616,26.70000,-80.71667,1999-06-01,1942-02-01,"BELLE GLADE HRCN GT4, FL US"
17,1.0000,7.9,METERS,COOP:080735,26.36510,-81.54770,2015-05-01,2007-08-01,"BIG CORKSCREW, FL US"
18,0.9876,4.6,METERS,COOP:080737,26.32830,-80.99580,2015-11-01,2002-05-01,"BIG CYPRESS, FL US"
19,0.5581,4.9,METERS,COOP:080739,26.31667,-81.00000,1969-02-01,1950-05-01,"BIG CYPRESS RESERVATION, FL US"
20,0.9847,3.0,METERS,COOP:080747,24.71667,-81.38333,1955-11-01,1950-05-01,"BIG PINE KEY, FL US"
21,0.9659,19.8,METERS,COOP:080758,28.55000,-81.11667,1987-11-01,1954-01-01,"BITHLO, FL US"
22,0.7621,67.1,METERS,COOP:080765,30.98333,-86.65000,1990-03-01,1942-11-01,"BLACKMAN, FL US"
23,0.9774,18.3,METERS,COOP:080804,30.45000,-85.05000,1982-08-01,1931-01-01,"BLOUNTSTOWN 2 SE, FL US"
24,0.3575,9.1,METERS,COOP:080845,26.36760,-80.11070,2014-01-01,1942-01-01,"BOCA RATON, FL US"
25,0.9107,3.0,METERS,COOP:080887,26.33333,-81.75000,1955-01-01,1942-12-01,"BONITA SPRINGS 2 MI, FL US"
26,0.9903,3.0,METERS,COOP:080940,27.48333,-82.55000,1965-03-01,1931-01-01,"BRADENTON EXPERIMENT, FL US"
27,0.9704,6.1,METERS,COOP:080945,27.44670,-82.50140,2015-11-01,1965-04-01,"BRADENTON, FL US"
28,0.7214,9.1,METERS,COOP:080975,29.96250,-82.91080,2014-01-01,1944-08-01,"BRANFORD, FL US"
29,0.9017,4.3,METERS,COOP:080992,27.04360,-81.07010,2015-11-01,2002-01-01,"BRIGHTON RESERVATION, FL US"
...,...,...,...,...,...,...,...,...,...
970,0.9980,5.5,METERS,GHCND:US1FLMT0027,27.09750,-80.28960,2017-08-27,2017-02-28,"STUART 7.3 SSW, FL US"
971,1.0000,3.7,METERS,GHCND:US1FLMT0031,27.17550,-80.28500,2017-08-26,2017-03-21,"PALM CITY 1.4 NW, FL US"
972,0.9980,32.0,METERS,GHCND:US1FLNS0002,30.75210,-81.98490,2010-02-06,2007-10-01,"HILLIARD 5.4 NW, FL US"
973,1.0000,7.9,METERS,GHCND:US1FLNS0006,30.64100,-81.57950,2008-03-12,2007-11-01,"YULEE 0.7 NNW, FL US"
974,0.5557,4.0,METERS,GHCND:US1FLNS0009,30.49100,-81.81420,2014-09-10,2008-10-01,"CALLAHAN 5.0 SSE, FL US"
975,0.9999,7.0,METERS,GHCND:US1FLNS0010,30.59790,-81.59470,2017-08-26,2009-06-01,"HEDGES 0.3 ESE, FL US"
976,1.0000,3.7,METERS,GHCND:US1FLNS0011,30.67130,-81.46210,2013-04-19,2009-06-01,"FERNANDINA BEACH 1.2 NW, FL US"
977,0.9967,6.1,METERS,GHCND:US1FLNS0012,30.64890,-81.44830,2017-08-27,2015-03-01,"FERNANDINA BEACH 0.6 S, FL US"
978,0.9993,6.4,METERS,GHCND:US1FLNS0014,30.59790,-81.52840,2017-08-27,2015-07-01,"FERNANDINA BEACH 6.3 SW, FL US"
979,1.0000,18.3,METERS,GHCND:US1FLOB0002,27.58470,-81.04560,2017-06-26,2010-01-01,"OKEECHOBEE 27.1 NNW, FL US"
980,0.6451,4.6,METERS,GHCND:US1FLOB0004,27.21180,-80.78960,2012-12-12,2011-08-01,"OKEECHOBEE 3.2 SE, FL US"
981,0.9998,19.5,METERS,GHCND:US1FLOB0005,27.46810,-80.97530,2017-08-26,2012-07-01,"OKEECHOBEE 18.0 NNW, FL US"
982,1.0000,20.4,METERS,GHCND:US1FLOB0006,27.53930,-81.02020,2017-05-29,2013-08-01,"OKEECHOBEE 23.7 NNW, FL US"
983,1.0000,11.0,METERS,GHCND:US1FLOK0001,30.49390,-86.43980,2017-08-27,2007-09-01,"NICEVILLE 3.6 SE, FL US"
984,1.0000,18.9,METERS,GHCND:US1FLOK0002,30.52440,-86.49240,2017-08-27,2007-09-01,"EGLIN AFB 5.6 NE, FL US"
985,0.9999,14.0,METERS,GHCND:US1FLOK0003,30.50490,-86.45920,2017-08-15,2007-10-01,"NICEVILLE 2.3 SE, FL US"
986,0.7911,11.9,METERS,GHCND:US1FLOK0004,30.41410,-86.76120,2010-06-06,2007-10-01,"MARY ESTHER 6.2 W, FL US"
987,0.9997,4.0,METERS,GHCND:US1FLOK0007,30.40780,-86.60970,2011-08-10,2007-10-01,"FORT WALTON BEACH 1.1 SSE, FL US"
988,1.0000,23.2,METERS,GHCND:US1FLOK0008,30.53410,-86.50130,2008-08-24,2007-10-01,"NICEVILLE 1.1 WNW, FL US"
989,0.8316,53.9,METERS,GHCND:US1FLOK0010,30.71100,-86.67220,2008-04-07,1998-06-01,"CRESTVIEW 6.4 WSW, FL US"
990,0.9992,11.0,METERS,GHCND:US1FLOK0012,30.43820,-86.62330,2008-12-18,2007-10-01,"FORT WALTON BEACH 1.1 NNW, FL US"
991,0.7791,50.9,METERS,GHCND:US1FLOK0013,30.78030,-86.53550,2012-08-30,2007-10-01,"CRESTVIEW 3.0 NE, FL US"
992,1.0000,14.9,METERS,GHCND:US1FLOK0014,30.41320,-86.66350,2010-03-29,2007-10-01,"MARY ESTHER 0.4 WNW, FL US"
993,1.0000,9.1,METERS,GHCND:US1FLOK0015,30.47840,-86.43720,2017-08-27,2007-11-01,"NICEVILLE 4.5 SE, FL US"
994,1.0000,17.1,METERS,GHCND:US1FLOK0016,30.45860,-86.58150,2017-08-27,2007-11-01,"SHALIMAR 1.0 N, FL US"
995,1.0000,14.9,METERS,GHCND:US1FLOK0017,30.45520,-86.61540,2015-11-02,2002-06-01,"OCEAN CITY 1.3 NNW, FL US"
996,0.9996,46.9,METERS,GHCND:US1FLOK0018,30.88410,-86.59510,2011-10-19,2007-10-01,"BAKER 8.2 NE, FL US"
997,0.9996,11.0,METERS,GHCND:US1FLOK0019,30.38910,-86.45770,2015-01-09,2007-10-01,"DESTIN 1.0 E, FL US"
998,0.9999,24.1,METERS,GHCND:US1FLOK0020,30.51230,-86.43050,2017-08-27,2007-10-01,"NICEVILLE 3.4 ESE, FL US"
999,0.9980,21.9,METERS,GHCND:US1FLOK0021,30.46330,-86.64960,2010-05-10,2007-11-01,"FORT WALTON BEACH 3.4 NNW, FL US"

## Stations in Orlando

In [105]:
fl_stations[fl_stations.name.str.contains('ORLANDO')]

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
221,1.0000,27.4,METERS,COOP:086628,28.43390,-81.32500,2015-11-01,1974-01-01,"ORLANDO INTERNATIONAL AIRPORT, FL US"
222,0.9629,34.1,METERS,COOP:086633,28.55000,-81.35000,1958-12-01,1950-02-01,"ORLANDO WATER PLANT, FL US"
223,1.0000,45.7,METERS,COOP:086634,28.50820,-81.54670,2014-12-01,2013-01-01,"ORLANDO WEST, FL US"
224,0.9871,32.9,METERS,COOP:086638,28.54528,-81.33306,1984-01-27,1942-01-01,"ORLANDO EXECUTIVE AIRPORT, FL US"

## There are only four stations in Orlando
* Thus for each supermarket lat/lon in Orlando, we would find the available with the minimum distance